:root {
    --bg-web: #c9ffce;
    --color-main: #95FF80;
    --color-sub: #FFE980;
    --text-dark: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-web);
    box-sizing: border-box;
}

.master-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.sidebar .logo h2 {
    margin: 0;
    font-size: 1.2rem;
}

.sidebar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar .menu a {
    display: block;
    background-color: var(--color-main);
    color: var(--text-dark);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.sidebar .menu a:hover {
    background-color: var(--color-sub);
    transform: translateX(5px);
}

.sidebar .logout {
    margin-top: auto;
    padding-bottom: 20px;
}

.sidebar .logout button {
    background-color: var(--color-main);
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
}

.sidebar .logout button:hover {
    background-color: var(--color-sub);
}

.main-wrapper {
    flex: 1;
    padding: 20px 30px 20px 10px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.header-left {
    background-color: var(--color-main);
    padding: 15px 40px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-dark);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.role-badge {
    background-color: var(--color-sub);
    padding: 12px 25px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--text-dark);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.content-area {
    flex: 1;
}

.title-group h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.title-group p {
    margin: 5px 0 35px 0;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
}

.stats-container {
    display: flex;
    gap: 30px;
}

.stat-box {
    background-color: #80ffc0;
    flex: 1;
    padding: 40px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.stat-box h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    width: 80%;
}

.stat-box .number {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    margin-top: auto;
}
